<h2>Soal 1: Hello World to Python</h2>
    
Print Say Hello World to Python

In [5]:
print("Hello World Python")

Hello World Python

Expected Output : 

Hello World Python

<h2>Soal 2: Aritmatika di Python </h2>
    
- Buat statement pertambahan antara 2 number di Python
- Buat statement perkurangan antara 2 number di Python
- Buat statement perkalian antara 2 number di Python
- Buat statement pembagian antara 2 number di Python

In [28]:
tambah=2+3
kurang=5-1
kali=5*2
bagi=9//3

print(f'Pertambahan 2+3 adalah {tambah}')
print(f'Pengurangan 5-1 adalah {kurang}')
print(f'Perkalian 5*2 adalah {kali}')
print(f'Pembagian 9/3 adalah {bagi}')

Pertambahan 2+3 adalah 5
Pengurangan 5-1 adalah 4
Perkalian 5*2 adalah 10
Pembagian 9/3 adalah 3

<h2>Quiz 3: Assign Variable dan Tipe Data Integer, Float </h2>

- Buat suatu variabel a dan b, dimana a dan b adalah nilai bertipe data numeric
- Berikan suatu nilai bertipe data integer, hasil pembagian dari a dengan b
- Berikan suatu nilai bertipe data float, hasil pembagian dari a dengan b

In [1]:
a=8
b=2

nilai=a/b

print(int(nilai))
print(nilai)

4
4.0

<h2>Soal 4: String Operation </h2>

- masukan nama depan kamu kedalam suatu variable firstname
- masukan nama belakang kamu kedalam suatu variable lasname
- tampilkan suatu kalimat 'Hello sanbercode, saya firstname lastname! saya siap belajar python data science.'

In [6]:
firstname= 'Susyana Sri'
lastname= 'Padmini'

print(f'Hello sanbercode, saya {firstname} {lastname}! saya siap belajar python data science')

Hello sanbercode, saya Susyana Sri Padmini! saya siap belajar python data science

Expected Output :

Hello sanbercode, saya fauzan taufik! saya siap belajar python data science.

<h2>Soal 5: Tipe Data</h2>

Lengkapi code di bawah ini untuk menghasilkan output yang sesuai

In [10]:
p = 9.99999
q = 'the number: '
print(q + str(p))

the number: 9.99999

Expected Output :

the number: 9.99999